# On suit les liens symboliques
Options +FollowSymlinks
# Blocages des url
Options -Indexes

# Activation du mode rewrite d'Apache
RewriteEngine On

# Code d'erreur
ErrorDocument 403  http://localhost/sites/twest/error?e=403
ErrorDocument 404  http://localhost/sites/twest/error?e=404
ErrorDocument 500  http://localhost/sites/twest/error?e=500

# Réécriture des URL
RewriteRule ^$  controllers/home.php [L]
RewriteRule ^home$  controllers/home.php [L]
RewriteRule ^login$  controllers/login.php [L]
RewriteRule ^logout$  controllers/logout.php [L]
RewriteRule ^contact$  controllers/contact.php [L]
RewriteRule ^scores$  controllers/scores.php [L]
RewriteRule ^admin$  controllers/admin.php [L]
RewriteRule ^error$  controllers/error.php [L]

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\.(ico|jpe?g|png|gif|swf|gz|ttf|woff2|webp|svg)$">
 Header set Cache-Control "max-age=31536000, public"
 </FilesMatch>
 <FilesMatch "\.(css)$">
 Header set Cache-Control "max-age=315360, public"
 </FilesMatch>
 <FilesMatch "\.(js)$">
 Header set Cache-Control "max-age=315360, private"
 </FilesMatch>
 <FilesMatch "\.(html|phtml)$">
 Header unset Cache-Control
 </FilesMatch>
 # Disable caching for scripts and other dynamic files
 <FilesMatch "\.(php)$">
 Header unset Cache-Control
 </FilesMatch>
</IfModule>
# END Cache-Control Headers